// Modules and Variables
@import "partials/base";
a.nolink{

}
#lightbox.lightbox{
	z-index: 999999;
}

#page img {
	opacity: 0;
	@include transition(opacity 0.2s ease);
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.introbg{
	background-image: url('../img/headerbg.png');
	z-index: 9;
	background-repeat: repeat-x;
	position: absolute;
	left: 0;
	top: 0;
	height: 200px;
	right: 0;
}
header#masthead{
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0;
	z-index: 99;
	.container{
		a.home-link{}
		#navbar{
			nav#site-navigation{
				margin-top: 25px;
				.menu-main-container{
					#menu-main{
						li{
							&.current_page_item{
								a{}
							}
							a{
								@include transition(all 0.15s ease);
							}
						}
					}
				}
			}
		}
	}
}
#intro{
	.flexslider{
		position: relative;
		background-color: #000;
		ul.slides{
			margin: 0;
			padding: 0;
			width: 100%;
			background-color: #000;
			li{
				height: 680px;
				opacity: 0;
				@include transition(opacity 0.35s ease);
				background-repeat: no-repeat;
				background-size: 1600px;
				background-position: center;
				.caption{
					margin-top: 75px;
					padding-left: 50px;
					p{
						@include font($changa,62px,$bold, #121212);
						text-transform: uppercase;
						line-height: 55px;
						text-align: right;
						span{
							color: $red;
						}
					}
					a.button{
						@include font($font,14px,bold, $red);
						@include border(3px,solid,$red);
						width: 172px;
						height: 55px;
						display: block;
						line-height: 50px;
						float: right;
						padding: 0;
						margin: 30px 0 0;
						text-align: center;
						text-transform: uppercase;
						@include transition(all 0.1s ease-in-out);
						&:hover{
							@include transition(all 0.2s ease-in-out);
							background-color: $red;
							color: #fff;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	&[role="small"]{
		background-color: #000000;
		height: 240px;
		h1{
			@include font($changa,56px,$bold, #ffffff);
			margin-top: 160px;
			text-transform: uppercase;
			position: relative;
			z-index: 99999;
			margin-bottom: 0;
		}
	}
}
.redstripes{
	height: 10px;
	background-image: url("../img/redstripes.png");
	background-repeat:repeat-x;
	display: block;	
	width: 123px;
}
.summary{
	background-color: #ededed;
	padding: 30px 0;
	.content{
		padding-left: 0;
		p{
			@include font($font,30px,$bold, #999);
			text-transform: uppercase;
			line-height: 32px;
		}
		span{
			@extend .redstripes;
		}

	}
	.call{
		padding-right: 0;
	}
	.questions{
		background-color: rgba(165,30,35,0.2);
		padding: 1px 0 0;
		width: 215px;
		margin-right: 0;
		float: right;
		height: 120px;
		h5{
			@include font($font,18px,normal, #181818);
			text-align: center;
			margin-top: 25px
		}
		a.button{
			display: block;
			width: 148px;
			height: 47px;
			text-align: center;
			margin: 0 auto;
			text-transform: uppercase;
			@include font($font,14px,$bold, $red);
			@include border(3px,solid,$red);
			line-height: 40px;
			&:hover{
				@include transition(all 0.3s ease-in-out);
				background-color: $red;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}
#primary{
	#content{
		@extend .container;
	}
}
#content[role="home"]{
	@extend .container;
	.row{
		margin-top: 60px;
		margin-left: 0;
		margin-right: 0;
		.welcome{
	
			padding-left: 0;
			p{
				@include font($font,30px,$bold, #999999);
				text-transform: uppercase;
				line-height: 32px;
			}
			span{
				height: 10px;
				background-image: url("../img/redstripes.png");
				background-repeat:repeat-x;
				display: block;	
				width: 123px;
			}
		}
		a{	
			display: block;
			position: relative;
			min-height: 250px;
			padding-right: 0;
			img{
				width:100%;
				position: relative;
				left: 0;
				opacity: 0;
			}
			&.services{
				img{
					margin-top: -33px;
				}
			}
			&.recentwork{
				span.featured{
					position: absolute;
					left: 15px;
					right: 0;
					bottom: 40px;
					top: 0;
					display: block;
					z-index: 999999;
					background-image: url("../img/featured.png");
					background-repeat:no-repeat;
					background-position:center center;
				}
				img{
					margin-top: -50px;
				}
			}
		}
		h1{
			@include font($font,18px,normal, #ffffff);
			letter-spacing: -0.02em;
			text-transform: uppercase;
			background-color: $red;
			position: absolute;
			bottom: 0;
			left: 15px;
			right: 0;
			text-align: center;
			line-height: 45px;
		}
	}
}
#primary #content[role="packages"]{
	padding-top: 45px;
	#packages{
		list-style-type: none;
		margin: 0;
		padding-left: 0;
		.column{
			padding-left: 0;	
		}
		.package{
			position: relative;
			padding-bottom: 0px;
			margin-bottom: 20px;
			&:after{
				content: "";
				width: 162px;
				height: 1px;
				background-color: #dddddd;
				display: block;
				margin-top: 20px;
			}
			h4{
				@include font($font,21px,$bold, $red);
				text-transform: uppercase;
				line-height: 32px;
				margin-bottom: 0;
			}
			ul.list{
				margin-left: 0;
				padding-left: 25px;
				@include columns(1,0);
				li{
					line-height: 24px;
					@include font($font,14px,normal, #181818);
				}
			}
		}
	}
}

#primary #content[role="about"]{
	#about{
		padding: 50px 20px 30px;
		@extend .clearfix;
		background-color: $red;
		.text{
			padding-right: 55px;
			p{
				@include font($font,27px,100, #fff);
				line-height: 32px;
			}
			a.button{
				@include font($font,14px,bold, #fff);
				@include border(3px,solid,#fff);
				width: 160px;
				height: 47px;
				display: block;
				line-height: 42px;
				background-color: rgba(255,255,255,0.5);
				float: left;
				padding: 0;
				margin: 30px 0 0;
				text-align: center;
				text-transform: uppercase;
				@include transition(all 0.1s ease-in-out);
				&:hover{
					@include transition(all 0.2s ease-in-out);
					background-color: #fff;
					color: $red;
					text-decoration: none;
				}
			}
		}
		.builtby{
			img{
				margin-top: 45px;
			}
		}
	}
	#recentwork{
		margin-left: -10px;
		margin-right: -10px;
		margin-top: 10px;
		h2{
			@include font($font,30px,$bold, #999);
			text-transform: uppercase;
			margin: 0 10px;
			line-height: 90px;
		}
		a.galpic{
			position: relative;
			display: block;
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 20px;
			&:hover{
				span{
					@include transition(all 0.2s ease-in-out);
					opacity: 1;
				}
			}
			span{
				display: block;
				position: absolute;
				left: 10px;
				right: 10px;
				@include font($font,30px,$bold, #ffffff);
				text-transform: uppercase;
				text-align: center;
				line-height: 200px;
				top: 0;
				z-index: 9999;
				opacity: 0;
				bottom: 0;
				background-color: rgba(156,16,19,0.8);
				@include transition(all 0.1s ease-in-out);
			}
			img{
				max-width: 100%;
			}
			h5{
				@include font($font,16px,normal, #fff);
				position: absolute;
				z-index: 999;
				bottom: 0;
				padding: 0 15px;
			}
			div.gradient{
				background-image: url("../img/galgradient.png");
				background-repeat:repeat-x;
				z-index: 99;
				background-position:center bottom;
				top: 0;
				position: absolute;
				bottom: 0;
				left: 10px;
				right: 10px;
			}
		}
	}

}

#footer-bar{
	background-color: #999999;
	min-height:50px;
	width: 100%;
	margin-top: 50px;
	span.ribbon{
		display: block;
		width: 104px;
		height: 92px;
		background-image: url("../img/follow.png");
		background-repeat:no-repeat;
		background-position:center center;
		position: absolute;

	}
	ul.social{
		margin: 8px 0 0 115px;
		padding: 0;
		list-style: none;
		li{
			float: left;
			margin-right: 8px;
			a{
				background-image: url("../img/socialicons.png");
				background-repeat:no-repeat;
				display: block;
				width: 34px;
				height: 34px;
				&.tw{
					background-position: 0px 0px;
				}
				&.fb{
					background-position: -44px 0px;
				}
				&.yt{
					background-position: -88px 0px;
				}
				&.gp{
					background-position: -132px 0px;
				}
			}
		}
	}
	.call{
		@include font($font,28px,normal, #434343);
		text-align: right;
		font-style: italic;
		span{
			font-weight: bold;
			letter-spacing: -0.05em;
			font-style: normal;
		}
	}
}
#primary #content[role="contact"]{
	#contactform{
		margin-top: 30px;
		padding-left: 0;
		padding-right: 50px;
	}
	#map{
		margin-top: 30px;
		padding-left: 20px;
		h1{
			@include font($font,30px,$bold, #999999);
			line-height: 32px;
			margin-top: 10px;
			text-transform: uppercase;
		}
		.mapframe{
			width: 350px;
			display: block;
			opacity: 0;
			@include transition(opacity 0.2s ease);
			height: 220px;
			background-image: url("../img/map.png");
			background-repeat:no-repeat;
			background-position:center center;
		}
		ul.addy{
			list-style-type: none;
			margin-left: 0;
			padding-left: 0;
			margin-top: 15px;
			margin-bottom: 20px;
			li{
				@include font($font,16px,normal, #111);
				line-height: 24px;
			}
		}
		ul.contact-info{
			list-style: none;
			padding-left: 0;
			li{
				@include font($font,16px,normal, #111);
				line-height: 24px;
				&.phone{
					&:before{
						content:"\f10a";
						display: block;
						font-family: fontawesome;
						float: left;
						margin-right: 10px;
						font-size: 20px;
						margin-left: 1px;
					}
				}
				&.email{
					&:before{
						content:"\f0e0";
						display: block;
						font-family: fontawesome;
						float: left;
						margin-right: 10px;
					}
				}
			}
		}
	}
}



.site-footer{
	background-color: #0c0c0c;
	.menu-main-container{
		width: 100%;
		float: left;
	}
	.nav-menu{
		float: left;
		margin-top: 30px;
		li{
			&.current_page_item{
				a{}
			}
			&:first-child{
				a{
					padding-left:0;
					margin-left:0;
				}
			}
			a{
				@include transition(all 0.15s ease);
				color: #555;
			}
		}
	}
	.copy{
		p{
			@include font($font,12px,bold, #434343);
			line-height: 48px;
			text-align: left;
		}
		a{
			color: #434343;
		}
	}
}









