// Modules and Variables
@import "partials/base";
a.nolink{

}
#page img {
	opacity: 0;
	@include transition(opacity 0.35s ease);
}
.introbg{
		background-image: url('../img/headerbg.png');
		z-index: 9;
		background-repeat: repeat-x;
		position: absolute;
		left: 0;
		top: 0;
		height: 200px;
		right: 0;
	}
header#masthead{
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0;
	z-index: 99;

	.container{
		a.home-link{}
		#navbar{
			nav#site-navigation{
				margin-top: 25px;
				.menu-main-container{
					#menu-main{
						li{
							&.current_page_item{
								a{}
							}
							a{
								@include transition(all 0.15s ease);
							}
						}
					}
				}
			}
		}
	}
}
#intro{
	.flexslider{
		position: relative;
		ul.slides{
			margin: 0;
			padding: 0;
			width: 100%;
			background-color: #000;
			li{
				height: 680px;
				opacity: 0;
				@include transition(opacity 0.35s ease);
				background-repeat: no-repeat;
				background-size: 1600px;
				background-position: center;
				.caption{
					margin-top: 75px;
					padding-left: 50px;
					p{
						@include font($changa,62px,$bold, #121212);
						text-transform: uppercase;
						line-height: 55px;
						text-align: right;
						span{
							color: $red;
						}
					}
					a.button{
						@include font($font,14px,bold, $red);
						@include border(3px,solid,$red);
						width: 172px;
						height: 55px;
						display: block;
						line-height: 50px;
						float: right;
						padding: 0;
						margin: 30px 0 0;
						text-align: center;
						text-transform: uppercase;
						@include transition(all 0.1s ease-in-out);
						&:hover{
							@include transition(all 0.3s ease-in-out);
							background-color: $red;
							color: #fff;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}
#primary{
	#content{
		@extend .container;
	}
}
#content[role="home"]{
	@extend .container;
	.row{
		margin-top: 60px;
		margin-left: 0;
		margin-right: 0;
		.welcome{
	
			padding-left: 0;
			p{
				@include font($font,30px,$bold, #999999);
				text-transform: uppercase;
				line-height: 32px;
			}
			span{
				height: 10px;
				background-image: url("../img/redstripes.png");
				background-repeat:repeat-x;
				display: block;	
				width: 123px;
			}
		}
		a{	
			display: block;
			position: relative;
			min-height: 250px;
			padding-right: 0;
			img{
				width:100%;
				position: relative;
				left: 0;
				opacity: 0;
			}
			&.services{
				img{
					margin-top: -33px;
				}
			}
			&.recentwork{
				span.featured{
					position: absolute;
					left: 15px;
					right: 0;
					bottom: 40px;
					top: 0;
					display: block;
					z-index: 999999;
					background-image: url("../img/featured.png");
					background-repeat:no-repeat;
					background-position:center center;
				}
				img{
					margin-top: -50px;
				}
			}
		}
		h1{
			@include font($font,18px,normal, #ffffff);
			letter-spacing: -0.02em;
			text-transform: uppercase;
			background-color: $red;
			position: absolute;
			bottom: 0;
			left: 15px;
			right: 0;
			text-align: center;
			line-height: 45px;
		}
	}
}
#footer-bar{
	background-color: #999999;
	min-height:50px;
	width: 100%;
	margin-top: 50px;
	span.ribbon{
		display: block;
		width: 104px;
		height: 92px;
		background-image: url("../img/follow.png");
		background-repeat:no-repeat;
		background-position:center center;
		position: absolute;

	}
	ul.social{
		margin: 8px 0 0 115px;
		padding: 0;
		list-style: none;
		li{
			float: left;
			margin-right: 8px;
			a{
				background-image: url("../img/socialicons.png");
				background-repeat:no-repeat;
				display: block;
				width: 34px;
				height: 34px;
				&.tw{
					background-position: 0px 0px;
				}
				&.fb{
					background-position: -44px 0px;
				}
				&.yt{
					background-position: -88px 0px;
				}
				&.gp{
					background-position: -132px 0px;
				}
			}
		}
	}
	.call{
		@include font($font,28px,normal, #434343);
		text-align: right;
		font-style: italic;
		span{
			font-weight: bold;
			letter-spacing: -0.05em;
			font-style: normal;
		}
	}
}
.site-footer{
	background-color: #0c0c0c;
	.menu-main-container{
		width: 100%;
		float: left;
	}
	.nav-menu{
		float: left;
		margin-top: 30px;
		li{
			&.current_page_item{
				a{}
			}
			&:first-child{
				a{
					padding-left:0;
					margin-left:0;
				}
			}
			a{
				@include transition(all 0.15s ease);
				color: #555;
			}
		}
	}
	.copy{
		p{
			@include font($font,12px,bold, #434343);
			line-height: 48px;
			text-align: left;
		}
		a{
			color: #434343;
		}
	}
}









