$orange:#ff9700;
$yellow:#ffcc00;
$green:#ff9800;
$navColor:#ffffff;
$font-color:#282217;
$navHover:#ff9800;
$nav-active-color:$orange;
$lightgray:#f0eeee;
$grayaccent:#afafaf;
$dark:#2f2c2a;
$buttons:#d0cecd;
$brown:#605046;
$teal:#003958;