
// Fonts
$basefonts:"Helvetica Neue",Helvetica,sans-serif;
$font:"Roboto",$basefonts;
$changa:"Changa One",$basefonts;
// $georgia: Georgia,serif;
//$lato:"lato",$basefonts;
//$droid:"droid-serif",serif;
// $opensans: 'Open Sans',$basefonts;


// Font Weights
$thin:300;
$normal:normal;
$bold:700;

// Base Font
$font-family: sans-serif;
$font-weight: $normal;
$font-size: 16px;
$line-height: 14px;

// Featured Text
$featured-font-size:30px;
$featured-font-weight:$thin;
$featured-line-height:34px;

// Nav Menu
$nav-font-size:16px;
$nav-font-weight:$normal;
$nav-line-height:14px;



